<p>Здравствуйте!</p>

<p>Вас пригласили в сервис отчетов по лидогенерации LeadActiv <a href="http://crerfrepo.ru">Crerfrepo.ru</a>.</p>

<p>Для входа в сервис перейдите по ссылке и задайте свой пароль</p>
<%= link_to "#{accept_invitation_url(@resource, :invitation_token => @token)}", accept_invitation_url(@resource, :invitation_token => @token) %>

<p>----------------------</p>
<p>Компания LeadActiv</p>
<a href="http://leadactiv.ru">www.leadactiv.ru</a>


