<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Для того, чтобы сменить пароль, перейдите по ссылке ниже.</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали изменение пароля, просто проигнорируйте данное письмо.</p>
